
mixin footer
  hr
  footer.text-center &copy; #{confName}

doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title= title
    link(rel='stylesheet', href=rootDir+'/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href=rootDir+'/stylesheets/style.css')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href=rootDir+'/') #{confName} 投票システム
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        .navbar-nav.mr-auto
          .nav-item
            a.btn.btn-outline-primary(href=rootDir+'/') #{user ? 'ログインし直す' : 'ログイン'}
          .nav-item
            a.btn.btn-outline-primary(href=rootDir+'/papers', class=user ? undefined : 'disabled') 発表賞
          .nav-item
            a.btn.btn-outline-primary(href=rootDir+'/demos', class=user ? undefined : 'disabled') 対話発表賞
          - if (user && user.isCommittee) {
          .nav-item
            a.btn.btn-outline-danger(href=rootDir+'/admin', class=user ? undefined : 'disabled') 集計結果
              | &nbsp;
              span.badge.badge-danger 委員
          - }
        .navbar-nav.ml-auto
          .nav-item
            a.btn.btn-outline-secondary(href=rootDir+'/users/logout', class=user ? undefined : 'disabled') ログアウト
    .container
      block content
    +footer
    block jquery
      script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', crossorigin='anonymous')
    script(src=rootDir+'/javascripts/bootstrap.min.js')
    block scripts