extends layout

block content
  - if (user) {
  .alert.alert-info(role="alert") ログイン済みです。このページをブックマークするか、以下のQRコードを使えば、いつでもこの投票用番号にアクセスできます。
  .alert.alert-info(role="alert")
    a.btn.btn-sm.btn-outline-primary(href=rootDir + '/papers') 発表賞
    |  &amp; 
    a.btn.btn-sm.btn-outline-primary(href=rootDir + '/demos') 対話発表賞
    |  どちらの投票もお忘れなく！
  .text-center.qr.code
    img(src='https://chart.googleapis.com/chart?chs=320x320&cht=qr&chl=http%3A%2F%2Fwww.wiss.org' + encodeURIComponent(rootDir + '/users/login?id='+user.id) + '&choe=UTF-8')
  - }
  - var clsId = failure === 1 || failure === 2 ? 'is-invalid' : undefined;
  - if (failure === 1) {
  .alert.alert-danger(role="alert") 投票用番号が存在しません。
  - }
  form(action=rootDir+"/users/login", method="get")
    .form-group
      label(for="id") 投票用番号:
      input.form-control#inputId(name="id", type="text", placeholder="12345678-abcdef01-23456789", required, style="margin-bottom: 12px;", class=clsId, value=user ? user.id : (id ? id : ''), readonly=user ? true : undefined)
    - if (!user) {
    button.btn.btn-lg.btn-primary.btn-block(type="submit") ログイン
    - }
  - if (!user) {
  hr
  p まだ投票用番号をお持ちでない方は&nbsp;
    a.btn.btn-sm.btn-outline-primary(href=rootDir) 投票用番号を取得
    | &nbsp;してください。
  - }
