extends layout

block content
  - if (user) {
  -   if (logout) {
  form.alert.alert-warning(action=rootDir + '/users/logout', method='post')
    p ログアウトすると、投票結果を修正できなくなります。以下の投票者用番号をメモしてあれば、再度ログインして修正できます。投票者用番号は原則再発行できないため、ログアウトするときは必ず番号を控えておくようにお願いします。
    hr
    input.btn.btn-danger(type='submit', value='ログアウトする')
    | &nbsp;
    a.btn.btn-outline-primary(href=rootDir + '/users/login') キャンセル
  -   } else {
  .alert.alert-info(role="alert") ログイン済みです。このページをブックマークするか、以下のQRコードを使えば、いつでもこの投票用番号にアクセスできます。
  -   }
  .alert.alert-info(role="alert")
    - if (paperEnabled && demoEnabled) {
    a.btn.btn-sm.btn-outline-primary(href=rootDir + '/papers') 発表賞
    |  &amp; 
    a.btn.btn-sm.btn-outline-primary(href=rootDir + '/demos') 対話発表賞
    |  どちらの投票もお忘れなく！ 
    - } else if (demoEnabled) {
    a.btn.btn-sm.btn-outline-primary(href=rootDir + '/demos') 対話発表賞
    |  の発表をお忘れなく！ 
    - }
    a.btn.btn-sm.btn-outline-primary(href=rootDir + '/stats') 投票状況
    |  を確認できるページもあります。
  - }
  - var clsId = failure === 1 || failure === 2 ? 'is-invalid' : undefined;
  - if (failure === 1) {
  .alert.alert-danger(role="alert") 投票用番号が存在しません。
  - }
  h2 投票用番号
  - if (user) {
  p 端末を変えたり、ブラウザを変えたりすると、以下の投票用番号を使って再度ログインする必要があります。書き留めておきましょう。
  - } else {
  p ログインには投票用番号が必要です。
  - }
  form(action=rootDir+"/users/login", method="get")
    .form-group
      label(for="id") 投票用番号:
      input.form-control#inputId(name="id", type="text", placeholder="12345678-abcdef01-23456789", required, style="margin-bottom: 12px;", class=clsId, value=user ? user.id : (id ? id : ''), readonly=user ? true : undefined)
    - if (!user) {
    button.btn.btn-lg.btn-primary.btn-block(type="submit") ログイン
    - }
  - if (user) {
  .text-center.qr.code
    img(src='https://chart.googleapis.com/chart?chs=320x320&cht=qr&chl=' + encodeURIComponent(url + '/users/login?id='+user.id) + '&choe=UTF-8')
  hr
  h2 他の人を投票に誘おう
  p 上のQRコードは投票用番号を含んでいるため、他の人には見せないでください。他の人を投票に誘う場合は、以下のURLを伝えるか、QRコードを見せてください。
  form
    .form-group
      label 投票システムのURL:
      input.form-control(name="url", type="text", value=url, readonly)
  .text-center.qr.code
    img(src='https://chart.googleapis.com/chart?chs=320x320&cht=qr&chl=' + encodeURIComponent(url) + '&choe=UTF-8')
  - } else {
  hr
  p まだ投票用番号をお持ちでない方は&nbsp;
    a.btn.btn-sm.btn-outline-primary(href=rootDir) 投票用番号を取得
    | &nbsp;してください。
  - }
